* {
  background-color: lightgoldenrodyellow;
}

h1 {
  color: rgb(201, 79, 35);
}

h1,
h2,
h3 {
  border: 1px solid black;
  text-align: center;
}

img {
  height: auto;
  width: 200px;
}

a {
    color: brown;
}
